
textarea
    {
        margin-left:25%;
        font-size:17px;
    }

marg
    {
        margin-left:25%;
    }
    
jformh
    {
        font-family:"Georgia", Times New Roman, serif;
        font-size: 25px;
    }
    
input
    {
        font-size:20px;
    }    
